.cardsGrid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 32px;
  row-gap: 60px;
  justify-content: center;
  margin: 48px auto;
  max-width: 1260px;
}

@media (max-width: 1024px) {
  .cardsGrid {
    max-width: 980px;
  }
}

@media (max-width: 640px) {
  .cardsGrid {
    max-width: 600px;
    row-gap: 30px;
    margin: 20px auto;
  }
}

.cardsHeader {
  text-align: center;
  margin-bottom: 74px;
}

.cardsTitle {
  color: #fff;
  font-family: Suisse Intl;
font-weight: 600;
font-style: SemiBold;
font-size: 50px;
line-height: 55px;
letter-spacing: 0%;
  margin: 0 0 25px 0;
  width: 728px;
  height: 110px;
  opacity: 1;
  margin-left: auto;
  margin-right: auto;
}


.cardsSubtitle {
    color: var(--text-secondary-inverse, #FFFFFFE0);
    font-family: Suisse Intl;
    font-weight: 450;
    font-style: Book;
    font-size: 22px;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: center;
    vertical-align: middle;
  margin: 0;
  width: 441px;
  height: 52px;
  opacity: 1;
  margin-left: auto;
  margin-right: auto;
} 

@media (max-width: 640px) {
   .cardsTitle {
    font-family: Suisse Intl;
    font-weight: 600;
    font-style: SemiBold;
    font-size: 35px;
    leading-trim: NONE;
    line-height: 40px;
    letter-spacing: 0%;
    text-align: center;
    vertical-align: middle;
    margin: 0 auto;
    width: 640px;
    margin-bottom: 25px;
    height: 100%;
   }    
  .cardsSubtitle {
    font-family: Suisse Intl;
font-weight: 450;
font-style: Book;
font-size: 18px;
leading-trim: NONE;
line-height: 26px;
letter-spacing: 0%;
text-align: center;
vertical-align: middle;

width: 440px;
  }
}