

.sectionTitle {
  color: #fff;
  font-family: Suisse Intl;
font-weight: 600;
font-style: SemiBold;
font-size: 50px;
leading-trim: NONE;
line-height: 48px;
letter-spacing: 0%;
text-align: center;
vertical-align: middle;

  margin-bottom: 56px;
  margin-top: 210px;
}

@media (min-width: 640px) and (max-width: 1023px) {
  .sectionTitle {
    font-family: Suisse Intl;
font-weight: 700;
font-style: Bold;
font-size: 35px;
leading-trim: NONE;
line-height: 40px;
letter-spacing: 0%;
text-align: center;
vertical-align: middle;
width: 300px;
margin: 210px auto 56px auto;
  }
}

@media (min-width: 360px) and (max-width: 639px) {
  .sectionTitle {
    font-family: Suisse Intl;
font-weight: 700;
font-style: Bold;
font-size: 25px;
leading-trim: NONE;
line-height: 30px;
letter-spacing: 0%;
text-align: center;
vertical-align: middle;
width: 320px;
margin: 210px auto 56px auto;
  }
}

.infoCardsRow {
  display: flex;
  flex-direction: row;
  gap: 30px;
  justify-content: center;
  width: 1260px;
  margin-top: 48px;
  margin-bottom: 134px;
}
@media (min-width: 1024px) and (max-width: 1439px) {
  .infoCardsRow {
    gap: 30px;
    width: 980px !important;
  }
}

@media (min-width: 640px) and (max-width: 1023px) {
  .infoCardsRow {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    max-width: 600px;
  }
}

@media (min-width: 360px) and (max-width: 639px) {
  .infoCardsRow {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 30px;
    max-width: 320px;
  }
}


.infoCard {
    background: #323232;

  border-radius: 24px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 400px;
  height: 308px;
}

@media (min-width: 1024px) and (max-width: 1439px) {
  .infoCard {
    width: 308px;
    height: 412px;
  }
}

@media (min-width: 640px) and (max-width: 1023px) {
  .infoCard {
    width: 284px;
    height: 380px;
  }
}

@media (min-width: 360px) and (max-width: 639px) {
  .infoCard {
    width: 320px;
    height: 380px;
  }
}

.icon {
    margin-left: 32px;
    margin-top: 32px;
  width: 36px;
  height: 36px;
  margin-bottom: 44px;
}
@media (min-width: 1024px) and (max-width: 1439px) {
  .icon {
    margin-left: 16px;
    margin-top: 32px;
    margin-bottom: auto;
  }
}

@media (min-width: 360px) and (max-width: 639px) {
  .icon {
    margin-left: 16px;
    margin-top: 32px;
    margin-bottom: auto;
  }
}

.title {
  color: #fff;
  font-family: Suisse Intl;
font-weight: 500;
font-style: Medium;
font-size: 25px;
leading-trim: NONE;
line-height: 28px;
letter-spacing: 0%;
vertical-align: middle;
text-align: left;
width: 287px;

  margin-bottom: 12px;
  margin-left: 32px;
}

@media (min-width: 1024px) and (max-width: 1439px) {
  .title {
    font-family: Suisse Intl;
font-weight: 500;
font-style: Medium;
font-size: 25px;
leading-trim: NONE;
line-height: 28px;
letter-spacing: 0%;
vertical-align: middle;
width: 191px;
margin-left: 16px;
  }
}
  
@media (min-width: 640px) and (max-width: 1023px) {
  .title {
    font-family: Suisse Intl;
font-weight: 500;
font-style: Medium;
font-size: 25px;
leading-trim: NONE;
line-height: 28px;
letter-spacing: 0%;
vertical-align: middle;
width: 240px;
  }
}

@media (min-width: 360px) and (max-width: 639px) {
  .title {
    margin-left: 16px;
  }
}

.description {
    color: var(--text-secondary-inverse, #FFFFFFE0);

  font-family: Suisse Intl;
font-weight: 400;
font-style: Regular;
font-size: 18px;
leading-trim: NONE;
line-height: 24px;
letter-spacing: 0%;
vertical-align: middle;

  text-align: left;
  margin-left: 32px;
  width: 336px;
} 

@media (min-width: 1024px) and (max-width: 1439px) {
  .description {
    font-family: Suisse Intl;
font-weight: 400;
font-style: Regular;
font-size: 18px;
leading-trim: NONE;
line-height: 24px;
letter-spacing: 0%;
vertical-align: middle;
width: 276px;
margin-left: 16px;
margin-bottom: 32px;
  }
}
@media (min-width: 640px) and (max-width: 1023px) {
  .description {
    font-family: Suisse Intl;
font-weight: 400;
font-style: Regular;
font-size: 18px;
leading-trim: NONE;
line-height: 24px;
letter-spacing: 0%;
vertical-align: middle;
width: 240px;
  }
}

@media (min-width: 360px) and (max-width: 639px) {
  .description {
    width: 288px;
    margin-left: 16px;
    margin-bottom: 20px;
  }
}
