.featureCard {
  background: var(--bg-white_secondary, #FFFFFF14);
  border-radius: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400px;
  height: 464px;
  margin: 0 auto;
  justify-content: space-between;
  overflow: hidden;
}

@media (min-width: 1024px) and (max-width: 1439px) {
  .featureCard {
    width: 305px;
    height: 512px;
  }
}
@media (min-width: 640px) and (max-width: 1023px) {
  .featureCard {
    width: 284px;
    height: 512px;
  }
}

@media (min-width: 360px) and (max-width: 639px) {
  .featureCard {
    width: 320px;
    height: 512px;
  }
}

.cardContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: 40px;
}

.imageButtonWrapper {
  position: relative;
  width: 100%;
  max-width: 220px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.cardImage {
  width: 400px;
  height: auto;
  margin-top: 24px;
  border-radius: 16px;
  display: block;
}



.cardDescription {
  color: var(--text-secondary-inverse, #FFFFFFE0);

  font-family: Suisse Intl;
font-weight: 450;
font-style: Book;
font-size: 16px;
leading-trim: NONE;
line-height: 24px;
letter-spacing: 0%;
text-align: center;
vertical-align: middle;
width: 327px;

  margin: 12px 0 0 0;
}

.cardButton {
  position: absolute;
  left: 50%;
  bottom: 32px;
  transform: translateX(-50%);
  background: #fff;
  color: #232323;
  border: none;
  border-radius: 10px;
  padding: 10px;

  font-family: Suisse Intl;
font-weight: 450;
font-style: Book;
font-size: 14.06px;
leading-trim: NONE;
line-height: 20px;
letter-spacing: 0%;
text-align: center;
vertical-align: middle;
width: 125px;

  cursor: pointer;
  transition: background 0.2s, color 0.2s;
  box-shadow: 0 2px 8px rgba(0,0,0,0.10);
}

.cardTitle {
  color: #fff;
  font-family: Suisse Intl;
font-weight: 500;
font-style: Medium;
font-size: 25px;
line-height: 28px;
letter-spacing: 0%;
text-align: center;
vertical-align: middle;

  width: 315px;

}

@media (min-width: 1024px) and (max-width: 1439px) {
  .cardTitle {
    font-family: Suisse Intl;
font-weight: 500;
font-style: Medium;
font-size: 25px;
leading-trim: NONE;
line-height: 28px;
letter-spacing: 0%;
text-align: center;
vertical-align: middle;
width: 276px;
  }
  .cardDescription {
    font-family: Suisse Intl;
font-weight: 450;
font-style: Book;
font-size: 16px;
leading-trim: NONE;
line-height: 24px;
letter-spacing: 0%;
text-align: center;
vertical-align: middle;
width: 276px;
} }

@media (min-width: 640px) and (max-width: 1023px) {

  .cardTitle {
    font-family: Suisse Intl;
font-weight: 500;
font-style: Medium;
font-size: 22px;
leading-trim: NONE;
line-height: 28px;
letter-spacing: 0%;
text-align: center;
vertical-align: middle;
width: 252px;
  }
  .cardDescription {
    font-family: Suisse Intl;
font-weight: 450;
font-style: Book;
font-size: 16px;
leading-trim: NONE;
line-height: 24px;
letter-spacing: 0%;
text-align: center;
vertical-align: middle;
width: 252px;
  }
}

@media (min-width: 360px) and (max-width: 639px) {
  .cardTitle {
    font-family: Suisse Intl;
font-weight: 500;
font-style: Medium;
font-size: 22px;
leading-trim: NONE;
line-height: 28px;
letter-spacing: 0%;
text-align: center;
vertical-align: middle;

width: 288px;
  } 
  .cardDescription {
    font-family: Suisse Intl;
font-weight: 450;
font-style: Book;
font-size: 16px;
leading-trim: NONE;
line-height: 24px;
letter-spacing: 0%;
text-align: center;
vertical-align: middle;

width: 288px;
  }
}

.cardButton:hover {
  background: #ffe066;
  color: #232323;
} 