.connectCard {
    background: var(--bg-white_secondary, #FFFFFF14);
    width: 1261px;
    height: 480px;
    border-radius: 60px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 48px;
  box-sizing: border-box;
}

@media (max-width: 1024px) {
  .connectCard {
    width: 980px;
    height: 480px;
  }
}

@media (max-width: 640px) {
  .connectCard {
    width: 600px;
    height: 379px;
  }
}

.connectText {
    width: 477px;
    height: 110px;
    opacity: 1;
    margin-left: 90px;
    margin-top: 110px;
  flex: 1 1 0;
  min-width: 0;
}

@media (max-width: 1024px) {
  .connectText {
    margin-left: 41px;
  }
}

@media (max-width: 640px) {
  .connectText {
    margin-left: 35px;
    margin-top: 80px;
  }
}

.connectTitle {
  color: var(--text-primary-inverse, #FFFFFF);
  width: 477px;
  opacity: 1;
  font-family: Suisse Intl;
    font-weight: 500;
    font-style: Medium;
    font-size: 45px;
    line-height: 55px;
    letter-spacing: 0%;
    vertical-align: middle;

  text-align: left;
  margin: 0 0 20px 0;
}

@media (max-width: 640px) {
  .connectTitle {
    font-family: Suisse Intl;
font-weight: 500;
font-style: Medium;
font-size: 20px;
leading-trim: NONE;
line-height: 27.63px;
letter-spacing: 0%;
vertical-align: middle;

    width: 284px;
  }
}

.connectDesc {
  color: var(--text-secondary-inverse, #FFFFFFE0);
  width: 477px;
  opacity: 1;
  font-family: Suisse Intl;
    font-weight: 450;
    font-style: Book;
    font-size: 18px;
    line-height: 26px;
    letter-spacing: 0%;
    vertical-align: middle;
  text-align: left;
  margin: 0;
}

@media (max-width: 640px) {
  .connectDesc {
    font-family: Suisse Intl;
font-weight: 450;
font-style: Book;
font-size: 16px;
leading-trim: NONE;
line-height: 20.53px;
letter-spacing: 0%;
vertical-align: middle;

    width: 284px;
  }
}

.connectImageWrapper {
    margin-top: 90px;
    margin-right: 204px;
  flex: 0 0 auto;
  position: relative;
}

@media (max-width: 1024px) {
  .connectImageWrapper {
    margin-right: 115px;
    margin-top: 105px;
  }
}

@media (max-width: 640px) {
  .connectImageWrapper {
    margin-right: 65px;
  }
}

.connectImage {
    width: 302px;
    opacity: 1;
  height: auto;
  display: block;
}

.businessBadge {
    width: 308px;
  position: absolute;
  top: 23%;
  left: 28%;
  height: auto;
}

@media (max-width: 640px) {
  .connectImage{
    width: 170px;
  }
  .businessBadge {
    width: 175px;
    top: 15%;
    left: 28%;
  }
}
