.newAppCardWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  background: #323232;  
  width: 1260px;
height: 550px;
margin: 75px auto 0 auto;
opacity: 1;
border-radius: 60px;
margin-bottom: 109px;
}

@media (min-width: 1024px) and (max-width: 1439px) {
  .newAppCardWrapper {
    width: 980px;
    gap: 30px;
  }
}

@media (min-width: 640px) and (max-width: 1023px) {
  .newAppCardWrapper {
    flex-direction: column;
    align-items: center;
    width: 600px;
    height: 824px;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
  }
}

@media (min-width: 360px) and (max-width: 639px) {
  .newAppCardWrapper {
    flex-direction: column;
    width: 320px;
    height: 824px;
    overflow: hidden;
  }
}

.leftSection {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 100%;
  flex: 1 1 0;
  min-width: 340px;
  margin-left: 90px;
}
@media (min-width: 1024px) and (max-width: 1439px) {
  .leftSection {
    margin-left: 34px;
  }
}
@media (min-width: 640px) and (max-width: 1023px) {
  .leftSection {
    align-items: center;
    margin-left: 0;
  }
}
@media (min-width: 360px) and (max-width: 639px) {
  .leftSection {
    align-items: center;
    min-width: 320px;
    margin-left: 0;
  }
}


.cardLogo {
  width: 108px;
  height: 108px;
  margin-top: 89px;
  margin-bottom: 106px;
}

@media (min-width: 1024px) and (max-width: 1439px) {
  .cardLogo {
    width: 94px;
    height: 94px;
    margin-top: 34px;
    margin-bottom: 140px;
  }
}

@media (min-width: 640px) and (max-width: 1023px) {
  .cardLogo {
    margin-top: 67px;
    margin-bottom: 25px;
  }
}

@media (min-width: 360px) and (max-width: 639px) {
  .cardLogo {
    margin-top: 59px;
    margin-bottom: 25px;
  }
}

.title {
  color: #fff;
  font-family: Suisse Intl;
font-weight: 600;
font-style: SemiBold;
font-size: 45px;
leading-trim: NONE;
line-height: 55px;
letter-spacing: 0%;
vertical-align: middle;
  text-align: left;
}
@media (min-width: 1024px) and (max-width: 1439px) {
  .title {
    font-family: Suisse Intl;
font-weight: 500;
font-style: Medium;
font-size: 35px;
leading-trim: NONE;
line-height: 45px;
letter-spacing: 0%;
vertical-align: middle;
  
  }
}

@media (min-width: 640px) and (max-width: 1023px) {
  .title {
    font-family: Suisse Intl;
font-weight: 500;
font-style: Medium;
font-size: 35px;
leading-trim: NONE;
line-height: 45px;
letter-spacing: 0%;
text-align: center;
vertical-align: middle;
  }
}

@media (min-width: 360px) and (max-width: 639px) {
  .title {
    font-family: Suisse Intl;
font-weight: 500;
font-style: Medium;
font-size: 22px;
leading-trim: NONE;
line-height: 25px;
letter-spacing: 0%;
text-align: center;
vertical-align: middle;
width: 320px;
  }
}

.storesRow {
  display: flex;
  flex-direction: row;
  gap: 25px;
  margin-top: 40px;
}
@media (min-width: 1024px) and (max-width: 1439px) {
  .storesRow {
    margin-top: 30px;
    gap: 15px;
    width: 380px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 640px) and (max-width: 1023px) {
  .storesRow {
    display: flex;
  flex-direction: row;
  gap: 25px;
  margin-top: 40px;
  width: 100%;
  margin-left: 32px;
  margin-bottom: 15px;
  }
}

@media (min-width: 360px) and (max-width: 639px) {
  .storesRow {
    margin-top: 20px;
    gap: 10px;
    width: 320px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-content: center;
    margin-bottom: 100px;
  }}

.rightSection {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  flex: 1 1 0;
  height:100%;
}

.iphoneImg {
  width: 320px;
  height: auto;
}
@media (min-width: 1024px) and (max-width: 1439px) {
  .iphoneImg {
    width: 305px;
  }
}

@media (min-width: 360px) and (max-width: 639px) {
  .iphoneImg {
    width: 231px;
    height: auto;
  }
}

.storeIcon {
  height: 40px;
  width: 123px;
  display: block;
} 

@media (min-width: 360px) and (max-width: 639px) {
  .storeIcon {
    margin-left: auto;
    margin-right: auto;
  }
}

