.faqSection {
  margin: 170px auto 0 auto;
  box-sizing: border-box;
  width: 830px;
}

@media (max-width: 640px) {
  .faqSection {
    width: 600px;
  }
}

.faqTitle {
  color: #fff;
  font-family: 'Suisse Intl', sans-serif;
  font-size: 38px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 25px;
}

.faqSubtitle {
  color: #b0b0b0;
  font-family: 'Suisse Intl', sans-serif;
  font-size: 18px;
  text-align: center;
  margin-bottom: 64px;
}

@media (max-width: 640px) {
  .faqSubtitle {
    width: 500px;
    margin: 0 auto 64px auto;
  }
}

.faqList {
  width: 100%;
}

.faqItem {
  width: 100%;
}

@media (max-width: 640px) {
  .faqList {
    width: 600px;
  }
  .faqItem {
    width: 600px;
    height: 100px;
    align-items: center;
  }
}

.faqQuestion {
  width: 100%;
  background: none;
  border: none;
  color: #fff;
  font-family: Suisse Intl;
font-weight: 500;
font-style: Medium;
font-size: 22px;
leading-trim: NONE;
line-height: 28px;
letter-spacing: 0%;
vertical-align: middle;

  text-align: left;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 73px;
  cursor: pointer;
  outline: none;
  transition: color 0.2s;
}

@media (max-width: 640px) {
  .faqQuestion {
    font-family: Suisse Intl;
font-weight: 500;
font-style: Medium;
font-size: 22px;
leading-trim: NONE;
line-height: 28px;
letter-spacing: 0%;
vertical-align: middle;
width: 600px;
  }
  .faqQuestionText {
    width: 456px;
  }
}



.faqArrow {
  font-size: 20px;
  transition: transform 0.2s;
  color: #b0b0b0; /* Push arrow to the end */ /* Prevent arrow from shrinking */
}

@media (max-width: 640px) {
  .faqArrow {
    margin-left: auto; /* Ensure arrow stays at end on mobile */
  }
}

.faqAnswer {
  color: #e0e0e0;
  font-family: 'Suisse Intl', sans-serif;
  font-size: 17px;
  margin-bottom: 8px;
  margin-top: -8px;
  padding-left: 2px;
  padding-bottom: 8px;
}

.faqDivider {
  width: 100%;
  height: 1px;
  background: #393939;
  margin: 0 0 0 0;
} 

@media (max-width: 640px) {
  .faqDivider {
    width: 600px;
  }
}
