.appBlockSection {
  width: 100%;
  margin-top: 110px;
  background: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.header {
  width: 100%;
  text-align: center;
  margin-bottom: 48px;
  flex-direction: column;
  align-items: center;
  display: flex;
  margin-bottom: 150px;
}

.title {
  font-family: Suisse Intl;
  font-weight: 600;
  font-style: SemiBold;
  font-size: 50px;
  line-height: 55px;
  letter-spacing: 0%;
  text-align: center;
  vertical-align: middle;
  width: 728px;
  color: var(--text-primary, #131314);
  margin: 0 0 18px 0;
}

@media (min-width: 640px) and (max-width: 1023px) {
  .title {
    font-family: Suisse Intl;
font-weight: 600;
font-style: SemiBold;
font-size: 35px;
leading-trim: NONE;
line-height: 40px;
letter-spacing: 0%;
text-align: center;
vertical-align: middle;

    width: 600px;
  }
}

@media (min-width: 360px) and (max-width: 639px) {
  .title {
    font-family: Suisse Intl;
font-weight: 600;
font-style: SemiBold;
font-size: 25px;
leading-trim: NONE;
line-height: 30px;
letter-spacing: 0%;
text-align: center;
vertical-align: middle;
width: 320px;
  }
}

.subtitle {
  font-family: Suisse Intl;
  font-weight: 450;
  font-style: Book;
  font-size: 22px;
  line-height: 26px;
  letter-spacing: 0%;
  text-align: center;
  vertical-align: middle;
  width: 441px;
  color: var(--text-disable, #13131466);
  margin: 0;
}

@media (min-width: 640px) and (max-width: 1023px) {
  .subtitle {
    font-family: Suisse Intl;
font-weight: 450;
font-style: Book;
font-size: 18px;
leading-trim: NONE;
line-height: 26px;
letter-spacing: 0%;
text-align: center;
vertical-align: middle;

    width: 600px;
  }
}

@media (min-width: 360px) and (max-width: 639px) {
  .subtitle {
    font-family: Suisse Intl;
font-weight: 450;
font-style: Book;
font-size: 18px;
leading-trim: NONE;
line-height: 26px;
letter-spacing: 0%;
text-align: center;
vertical-align: middle;
width: 320px;
  }
}

.phonesBlockTop {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 60px;
  width: 1200px;
  margin: 0 auto;
  padding: 0 0 31px 0;
}

@media (min-width: 1024px) and (max-width: 1439px) {
  .phonesBlockTop {
    width: 980px;
    margin-left: 22px;
    margin-right: auto;
  }
}

@media (min-width: 640px) and (max-width: 1023px) {
  .phonesBlockTop {
    width: 600px;
    margin-left: 0;
    margin-right: 0;
    align-items: center;
    gap: 30px;
  }
}

@media (min-width: 360px) and (max-width: 639px) {
  .phonesBlockTop {
    width: 320px;
    gap: 20px;
    margin-left: auto;
    margin-right: auto;
  }
}

.phoneCol {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1 1 0;
  min-width: 0;
}
.phoneCol:first-child {
  flex: 2 1 0; /* First column gets more space */
}
.phoneCol:last-child {
  flex: 1 1 0; /* Second column gets less space */
}

@media (min-width: 640px) and (max-width: 1023px) {
  .phoneCol:first-child {
    flex: 2 1 0; /* First column gets more space */
  }

  .phoneCol:last-child {
    flex: 1 1 0; /* Second column gets less space */
  }
}

@media (min-width: 360px) and (max-width: 639px) {
  .phoneCol:first-child {
    flex: 1 1 0; /* First column gets more space */
  }

  .phoneCol:last-child {
    flex: 1 1 0; /* Second column gets less space */
  }
}


.phoneImgLeft {
  width: auto;
  height: 420px;
  border-radius: 38px;
  background: #f6f7f9;
}

@media (min-width: 1024px) and (max-width: 1439px) {
  .phoneImgLeft {
    height: 328px;
  }
}

@media (min-width: 640px) and (max-width: 1023px) { 
  .phoneImgLeft {
    height: 198px;
  }
}

@media (min-width: 360px) and (max-width: 639px) {
  .phoneImgLeft {
    object-fit: cover;
    object-position: center;
    height: 159px;
    width: 150px;
  }}

.phoneImgRight {
  width: 400px;
  max-width: 100%;
  border-radius: 38px;
  background: #f6f7f9;
}

@media (min-width: 1024px) and (max-width: 1439px) {  
  .phoneImgRight {
    width: 310px;
  }
}
@media (min-width: 640px) and (max-width: 1023px) { 
  .phoneImgRight {
    height: 198px;
    width: auto;
  }
}

@media (min-width: 360px) and (max-width: 639px) {
  .phoneImgRight {
    height: 159px;
    width: auto;
  }
}

.phonesMainSplit {
  display: flex;
  justify-content: center;
  align-items: stretch;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  gap: 31px;
}
@media (min-width: 1024px) and (max-width: 1439px) {
  .phonesMainSplit {
    gap: 24px;
    max-width: 980px;
  }
}

@media (min-width: 640px) and (max-width: 1023px) {
  .phonesMainSplit {
    max-width: 600px;
    gap: 30px;
  }
}

@media (min-width: 360px) and (max-width: 639px) {
  .phonesMainSplit {
    max-width: 320px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

.phonesLeftGrid {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  flex: 1 1 0;
  gap: 31px;
}

@media (min-width: 360px) and (max-width: 639px) {
  .phonesLeftGrid {
    flex-direction: column-reverse;
    gap: 20px;
  }
}

.phonesLeftTopRow {
  display: flex;
  flex-direction: row;
  gap: 31px;
}

.phoneGridCol {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1 1 0;
}

.phonesLeftBottomRow {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  max-width: 520px;
}

.phonesRightTall {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: stretch;
  flex: 1 1 0;
}

.phoneImgPurple {
  width: 399px;
  height: auto;
}

.phoneImgDelivery {
  width: 399px;
  height: auto;
}

.phoneImgUnitap {
  width: 850px;
  height: 450px;
}

.phoneImgShop {
    width: 399px;
    height: 1057px;
}

@media (max-width: 1024px) {
  .phoneImgPurple {
    width: 310px;
  }
  .phoneImgDelivery {
    width: 310px;
  }
  .phoneImgUnitap {
    width: 645px;
    height: 330px;
  }
  .phoneImgShop {
    width: 310px;
    height: 820px;
  }
}

@media (max-width: 640px) {
  .phoneImgPurple {
    width: 179px;
  }
  .phoneImgDelivery {
    width: 179px;
  }
  .phoneImgUnitap {
    width: 389px;
    height: 198px;
  }
  .phoneImgShop {
    width: 177px;
    height: 510px;
  }
}

@media (min-width: 360px) and (max-width: 639px) {

  .phoneImgPurple {
    width: 150px;
  }
  .phoneImgDelivery {
    width: 150px;
  }
  .phoneImgUnitap {
    width: 320px;
    height: 162px;
  }
  .phoneImgShop {
    object-fit: cover;
    object-position: center;
    width: 320px;
    height: 150px;
    border-radius: 10px;
  }
  
}

.titleTextLeft {
  font-family: Suisse Intl;
  font-weight: 500;
  font-style: Medium;
  font-size: 25px;
  line-height: 30px;
  letter-spacing: 0%;
  text-align: center;
  vertical-align: middle;
  color: #131314;
  margin-top: 25px;
  margin-bottom: 15px;
  width: 100%;
}

.subtitleTextLeft {
  font-family: Suisse Intl;
  font-weight: 450;
  font-style: Book;
  font-size: 18px;
  line-height: 26px;
  letter-spacing: 0%;
  text-align: center;
  vertical-align: middle;
  color: var(--text-disable, #13131466);
  margin: 0 0 0 0;
  width: 829px;
}
@media (min-width: 1024px) and (max-width: 1439px) {
  .titleTextLeft {
    font-family: Suisse Intl;
font-weight: 500;
font-style: Medium;
font-size: 20px;
leading-trim: NONE;
line-height: 23.35px;
letter-spacing: 0%;
text-align: center;
vertical-align: middle;
width: 645px;
  }
  .subtitleTextLeft {
    font-family: Suisse Intl;
font-weight: 450;
font-style: Book;
font-size: 16px;
leading-trim: NONE;
line-height: 20.24px;
letter-spacing: 0%;
text-align: center;
vertical-align: middle;
width: 645px;
}}

@media (min-width: 640px) and (max-width: 1023px) {
  .titleTextLeft {
    font-family: Suisse Intl;
font-weight: 500;
font-style: Medium;
font-size: 16px;
leading-trim: NONE;
line-height: 14.08px;
letter-spacing: 0%;
text-align: center;
vertical-align: middle;

    width: 360px;
  }

  .subtitleTextLeft {
    font-family: Suisse Intl;
font-weight: 450;
font-style: Book;
font-size: 10px;
leading-trim: NONE;
line-height: 12.2px;
letter-spacing: 0%;
text-align: center;
vertical-align: middle;

    width: 360px;
  }
}

@media (min-width: 360px) and (max-width: 639px) {

  .titleTextLeft {
    font-family: Suisse Intl;
font-weight: 500;
font-style: Medium;
font-size: 13.56px;
leading-trim: NONE;
line-height: 11.28px;
letter-spacing: 0%;
text-align: center;
vertical-align: middle;
width: 150px;
  }
  
  .subtitleTextLeft {
    font-family: Suisse Intl;
font-weight: 450;
font-style: Book;
font-size: 8.47px;
leading-trim: NONE;
line-height: 9.77px;
letter-spacing: 0%;
text-align: center;
vertical-align: middle;
width: 150px;
  }
  
}

.titleTextRight {
  font-family: Suisse Intl;
  font-weight: 500;
  font-style: Medium;
  font-size: 25px;
  line-height: 30px;
  letter-spacing: 0%;
  text-align: center;
  vertical-align: middle;
  color: #131314;
  margin-top: 25px;
  margin-bottom: 15px;
  width: 400px;
}



.subtitleTextRight {
  font-family: Suisse Intl;
  font-weight: 450;
  font-style: Book;
  font-size: 18px;
  line-height: 26px;
  letter-spacing: 0%;
  text-align: center;
  vertical-align: middle;
  color: var(--text-disable, #13131466);
  margin: 0 0 0 0;
  width: 400px;
}

@media (min-width: 1024px) and (max-width: 1439px) {
  .titleTextRight {
    font-family: Suisse Intl;
font-weight: 500;
font-style: Medium;
font-size: 20px;
leading-trim: NONE;
line-height: 23.35px;
letter-spacing: 0%;
text-align: center;
vertical-align: middle;
width: 310px;
  }
  .subtitleTextRight {
    font-family: Suisse Intl;
font-weight: 450;
font-style: Book;
font-size: 16px;
leading-trim: NONE;
line-height: 20.24px;
letter-spacing: 0%;
text-align: center;
vertical-align: middle;
width: 310px;
}
}

@media (min-width: 640px) and (max-width: 1023px) {
  .titleTextRight {
    font-family: Suisse Intl;
font-weight: 500;
font-style: Medium;
font-size: 16px;
leading-trim: NONE;
line-height: 13.31px;
letter-spacing: 0%;
text-align: center;
vertical-align: middle;

    width: 177px;
  }
  .subtitleTextRight {
    font-family: Suisse Intl;
font-weight: 450;
font-style: Book;
font-size: 10px;
leading-trim: NONE;
line-height: 11.53px;
letter-spacing: 0%;
text-align: center;
vertical-align: middle;

    width: 177px;
  }
}

@media (min-width: 360px) and (max-width: 639px) {

  .titleTextRight {
    font-family: Suisse Intl;
font-weight: 500;
font-style: Medium;
font-size: 13.56px;
leading-trim: NONE;
line-height: 11.28px;
letter-spacing: 0%;
text-align: center;
vertical-align: middle;
width: 150px;
  }
  
  .subtitleTextRight {
    font-family: Suisse Intl;
font-weight: 450;
font-style: Book;
font-size: 8.47px;
leading-trim: NONE;
line-height: 9.77px;
letter-spacing: 0%;
text-align: center;
vertical-align: middle;
width: 150px;
  }
  
} 


