@font-face {
  font-family: 'Suisse Intl';
  src: url('./shared/assets/fonts/suisse-intl-medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

body {
  margin: 0;
  font-family: 'Suisse Intl', sans-serif;
  background: #fff;
  height: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  background: #fff;
  height: 100%;
}

html, body {
  min-height: 0;
  height: auto;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
